# llama-web-manager configuration
# Copy this file to config.yaml and edit paths

llama_server_path: /path/to/llama-server
models_dir: /path/to/llm/models
server_port: 11434
server_host: 0.0.0.0
web_port: 9000
log_lines: 10
llamacpp_params:
  context_size: 80000
  threads: 8
  temp: 0.2
  top_p: 0.9
  top_k: 10
  min_p: 0.05
  no_mmap: false
